flows.json
[{"id":"4060069.725ecf8","type":"function","z":"d11c4138.bbc05","name":"","func":"var keys = global.keys();\nfor(var i=0;i<keys.length;i++){\n    global.set(keys[i]);\n}","outputs":1,"noerr":0,"x":880,"y":80,"wires":[["b58266f8.8e35b8"]]},{"id":"fecf1d46.6e806","type":"inject","z":"d11c4138.bbc05","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":80,"wires":[["4060069.725ecf8"]]},{"id":"b58266f8.8e35b8","type":"debug","z":"d11c4138.bbc05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":80,"wires":[]}]